<h1>Gerar nova senha 😬🔐🎲</h1>

<p>Olá {{ name }},</p>
<p>
  <a href="{{ url }}">Click aqui</a> para redefinir sua senha!
</p>

<p>
  Atenciosamente,<br>
  <strong>Prova Adonis V5 LabLub</strong>
</p>
