<h1>Cadastro de novo usuário 🎉🎉🎉</h1>

<h2> Olá, {{ name }} </h2>

<p>Seu cadastro foi realizado com sucesso, corra e faça sua primeira aposta.</p>

<p>
  Segua abaixo a senha de acesso, mantenha ela em segurança!<br>
  <strong>{{ password }}</strong>
</p>

<p>
  Atenciosamente,<br>
  <strong>Prova Adonis V5 LabLub</strong>
</p>
