<h1>Nova aposta realizada 😍😘💕</h1>

<p>
  {{ name }} você realizou mais uma aposta e seus números da sorte são:<br>
  <strong>{{ bet.item }}</strong>
</p>

<p>
  Atenciosamente,<br>
  <strong>Prova Adonis V5 LabLub</strong>
</p>
