<h1>Cadastro de novo usuário</h1>

<h2> Olá, {{ name }} </h2>

<p>Seu cadastro foi realizado com sucesso na aplicação <strong>Prova Adonis V5 LabLuby</strong>.</p>
<p>A senha que você definiu foi esta, mantenha ela em segurança!</p>

<strong>{{ password }}</strong>

<p>Obrigado!!!</p>
