* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  text-decoration: none;
  cursor: default;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100vw;
  min-width: 800px;
  max-width: 1366px;
  /* height: calc(100vh - 40px); */
  /* max-height: 1050px; */

  margin: 20px auto;
  border: 2px solid #EBEBEB;

  background: #F7F7F7;
}

/* HEADER -------------------------------------- */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 75px;
  border-bottom: 2px solid #EBEBEB;
  padding: 0px 125px;
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 100px
}

.headerLeft div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divYellow {
  width: 107px;
  height: 7px;

  position: absolute;
  margin-top: 60px;
  border-radius: 50px;

  color: #B5C401;
  font-size: 1px;

  background-color: #B5C401;
}

header h1 {
  color: #707070;
  font: italic normal bold 44px "Roboto";
}

header h2 {
  color: #707070;
  font: italic normal bold 20px "Roboto";
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 100px
}

.divLogOut {
  display: flex;
  gap: 5px;
}

/* MAIN ---------------------------------------- */

main {
  display: flex;
  min-width: 500px;
  margin: 0px 100px;
}

/* MAIN GAME ----------------------------------- */

.containerGame {
  width: 70%;
  margin-top: 50px;
  padding-right: 10px;
}

.headerGame {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.headerGame p {
  color: #707070;
  font: italic normal 300 24px "Roboto";
}

.headerGame strong {
  color: #707070;
  font: italic normal bold 24px "Roboto";
}

.headerGame p:nth-child(2) {
  margin-top: 50px;

  color: #868686;
  font: italic normal bold 17px "Roboto";
}

.gameTypeGame {
  display: flex;

  margin: 20px 0px;
  gap: 50px;
}

.gameTypeGame button {
  width: 113px;
  height: 34px;
  border: 0;
  border-radius: 50px;

  color: #ffffff;
  font: italic normal bold 14px "Roboto";

  background: transparent;
  cursor: pointer;
}

.gameTypeGame button.lotofacil {
  border: 2px solid #7F3992;
  color: #7F3992;
}

.gameTypeGame button.lotofacil:hover {
  color: #ffffff;
  background: #7F3992;
}

.gameTypeGame button.megasena {
  border: 2px solid #01AC66;
  color: #01AC66;
}

.gameTypeGame button.megasena:hover {
  color: #ffffff;
  background: #01AC66;
}

.gameTypeGame button.quina {
  border: 2px solid #F79C31;
  color: #F79C31;
}

.gameTypeGame button.quina:hover {
  color: #ffffff;
  background: #F79C31;
}

.ruleGame strong {
  color: #868686;
  font: italic normal bold 17px "Roboto";
}

.ruleGame p {
  color: #868686;
  font: italic normal normal 17px "Roboto";
}

.numberAllGame {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  margin: 22px 0px;
  gap: 10px;
}

.numberAllGame .numberGame {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50px;
  height: 50px;
  border-radius: 50px;

  color: #FFFFFF;
  font: normal normal bold 20px "Roboto";

  background: #ADC0C4;
  cursor: pointer;
}

.numberAllGame .numberGame:hover {
  background: #9faeb1;
}

.footerGame {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.footerGame .divButtonTransparentGame {
  display: flex;
  gap: 30px;
}

.footerGame .buttonTransparentGame {
  width: auto;
  min-width: 100px;
  height: 52px;
  border: 1px solid #27C383;
  border-radius: 10px;
  padding: 0px 30px;

  color: #27C383;
  font-style: normal;
  font-weight: normal;
  font-variant: medium;
  font-size: 16px;
  font-family: "Roboto";

  background: transparent;
  cursor: pointer;
}

.footerGame .buttonTransparentGame:hover {
  color: #FFFFFF;
  background: #27C383;
}

.footerGame .buttonGreenGame {
  display: flex;
  align-items: center;
  justify-content: center;

  width: auto;
  min-width: 175px;
  height: 52px;
  margin-left: 20px;
  border: 1px solid #27C383;
  border-radius: 10px;
  padding: 0px 30px;
  gap: 25px;

  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-variant: bold;
  font-size: 16px;
  font-family: "Roboto";

  background: #27C383;
  cursor: pointer;
}

.footerGame .buttonGreenGame:hover {
  background: #21AC72;
}

/* MAIN CART ----------------------------------- */

.containerCart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 30%;
  min-width: 275px;
  height: 50vh;
  min-height: 400px;
  max-height: 600px;
  margin-top: 30px;
  border: 1px solid #E2E2E2;
  border-radius: 10px;

  background: #FFFFFF;
}

.headerCart {
  display: flex;
  margin: 20px;

  color: #707070;
  font: italic normal bold 24px "Roboto";
}

.gameAllCart {
  display: flex;
  flex-direction: column;

  margin: 0px 20px;
  gap: 20px;
}

.gameCart {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.trashCart {
  font-size: 0px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: filter(0.2s);
}

.trashCart:hover {
  filter: brightness(0.7);
}

.borderCart {
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 4px;
  height: 90px;
  margin: 2px 10px 2px 3px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;

  color: transparent;
}

.lotofacil .borderCart {
  background: #7F3992;
}

.megasena .borderCart {
  background: #01AC66;
}

.quina .borderCart {
  background: #F79C31;
}

.valueCart {
  display: flex;
  flex-direction: column;

  gap: 5px
}

.numberCart {
  margin-bottom: 5px;

  color: #868686;
  font: italic normal bold 15px "Roboto";
}

.valueExtraCart {
  display: flex;
  gap: 20px;
}

.valueExtraCart p:nth-child(1) {
  font: italic normal bold 16px "Roboto";
}

.lotofacil .valueExtraCart p:nth-child(1) {
  color: #7F3992;
}

.megasena .valueExtraCart p:nth-child(1) {
  color: #01AC66;
}

.quina .valueExtraCart p:nth-child(1) {
  color: #F79C31;
}


.valueExtraCart p:nth-child(2) {
  color: #868686;
  font: normal normal normal 16px "Roboto";
}

.totalCart {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  margin-left: 20px;
  margin-bottom: 30px;
}

.totalCart strong {
  color: #707070;
  font: italic normal bold 24px "Roboto";
}

.totalCart p {
  color: #707070;
  font: normal normal 300 24px "Roboto";
}

.saveCart {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 10vh;
  min-height: 50px;
  max-height: 70px;
  border-top: 1px solid #E2E2E2;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  gap: 10px;

  color: #27C383;
  font: italic normal bold 35px "Roboto";

  background: #F4F4F4;
  cursor: pointer;
}

.saveCart img {
  fill: #27C383;
}

.saveCart:hover {
  background: #ebe7e7;
}

/* FOOTER -------------------------------------- */

footer {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 10vh;
  max-height: 70px;
  margin-top: 20px;
  border-top: 2px solid #EBEBEB;

  color: #707070;
  font: normal normal normal 10px "Roboto";
}
