* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: calc(100vh - 40px);
  max-height: 1050px;
  max-width: 1366px;

  margin: 20px auto;
  border: 2px solid #EBEBEB;

  background: #F7F7F7;
}

/* HEADER -------------------------------------- */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 75px;
  border-bottom: 2px solid #EBEBEB;
  padding: 0px 125px;
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 100px
}

.headerLeft div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divYellow {
  width: 107px;
  height: 7px;

  position: absolute;
  margin-top: 60px;
  border-radius: 50px;

  color: #B5C401;
  font-size: 1px;

  background-color: #B5C401;
}

header h1 {
  color: #707070;
  font: italic normal bold 44px "Roboto";
}

header h2 {
  color: #707070;
  font: italic normal bold 20px "Roboto";
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 100px
}

.divLogOut {
  display: flex;
  gap: 5px;
}

/* MAIN ---------------------------------------- */
main {
  display: flex;
  padding: 0px 110px;
}

.containerGame {
  width: 70%;
  margin-top: 50px;
  border: 1px solid blue;
  padding-right: 10px;
}

.headerGame {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
}

.headerGame p {
  color: #707070;
  font: italic normal 300 24px "Roboto";
}

.headerGame strong {
  color: #707070;
  font: italic normal bold 24px "Roboto";
}

.headerGame p:nth-child(2) {
  margin-top: 50px;

  color: #868686;
  font: italic normal bold 17px "Roboto";
}

.gameTypeGame {
  display: flex;

  margin: 20px 0px;
  gap: 50px;
}

.gameTypeGame button {
  width: 113px;
  height: 34px;
  border: 0;
  border-radius: 50px;

  color: #ffffff;
  font: italic normal bold 14px "Roboto";

  background: transparent;
  cursor: pointer;
}

.gameTypeGame button.lotofacil {
  border: 2px solid #7F3992;
  color: #7F3992;
}

.gameTypeGame button.lotofacil:hover {
  color: #ffffff;
  background: #7F3992;
}

.gameTypeGame button.megasena {
  border: 2px solid #01AC66;
  color: #01AC66;
}

.gameTypeGame button.megasena:hover {
  color: #ffffff;
  background: #01AC66;
}

.gameTypeGame button.quina {
  border: 2px solid #F79C31;
  color: #F79C31;
}

.gameTypeGame button.quina:hover {
  color: #ffffff;
  background: #F79C31;
}

.ruleGame strong {
  color: #868686;
  font: italic normal bold 17px "Roboto";
}

.ruleGame p {
  color: #868686;
  font: italic normal normal 17px "Roboto";
}

.numberAllGame {
  display: flex;
  margin: 22px 0px;
  gap: 15px;
}

.numberAllGame .numberGame {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 65px;
  height: 65px;
  border-radius: 50px;

  color: #FFFFFF;
  font: normal normal bold 20px "Roboto";

  background: #ADC0C4;
  cursor: pointer;
}

.numberAllGame .numberGame:hover {
  background: #9faeb1;
}

.footerGame {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.footerGame .divButtonTransparentGame {
  display: flex;
  gap: 30px;
}

.footerGame .buttonTransparentGame {
  width: auto;
  height: 52px;
  border: 1px solid #27C383;
  border-radius: 10px;
  padding: 0px 30px;

  color: #27C383;
  font-style: normal;
  font-weight: normal;
  font-variant: medium;
  font-size: 16px;
  font-family: "Roboto";

  background: transparent;
  cursor: pointer;
}

.footerGame .buttonTransparentGame:hover {
  color: #FFFFFF;
  background: #27C383;
}

.containerCart {
  border: 1px solid green;
  width: 30%;
  margin-top: 30px;
}
