* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  text-decoration: none;
  cursor: default;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 90vw;
  min-width: 800px;
  max-width: 1366px;

  margin: 20px auto;
  border: 2px solid #EBEBEB;

  background-color: #F7F7F7;
}

a, img, svg, path {
  cursor: pointer;
}

.flexDirectionRow {
  flex-direction: row;
}

.lotofacil {
  color: #7F3992;
}

.megasena {
  color: #01AC66;
}

.quina {
  color: #F79C31;
}

/* HEADER -------------------------------------- */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 8px 5px;
  border-bottom: 2px solid #EBEBEB;
}

header section {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0px 10%;
  gap: 40%;
}

header section a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  color: #707070;
  font: italic normal bold 20px "Roboto";

  white-space: nowrap;
  fill: #707070;
}

header section a:hover {
  color: #525151 !important;
  fill: #525151 !important;
}

header section a svg {
  margin-left: 10px;
}

#menuSelected {
  color: #707070;
  font: italic normal bold 44px "Roboto";
}

#menuSelected div {
  position: relative;
  top: 13px;

  width: calc(100% + 20px);
  height: 7px;
  border-radius: 50px;

  color: transparent;
  font-size: 0px;

  background-color: #B5C401;
}

/* MAIN ---------------------------------------- */

main {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  /* EXCLUIR DEPOIS DUAS LINHAS */
  width: 100%;
  padding: 10px;
}

/* MAIN GAME ----------------------------------- */

.mainGame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  width: 70%;
  margin-top: 50px;
  margin-right: 10px;
  margin-left: 6%;
}

.mainGameTitle {
  color: #707070;
  font: italic normal 300 24px "Roboto";
}

.mainGameTitle strong {
  color: #707070;
  font: italic normal bold 24px "Roboto";
}

.mainGameSubTitle {
  margin-top: 50px;

  color: #868686;
  font: italic normal bold 17px "Roboto";
}

.mainGameType {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  margin: 20px 0px;
  gap: 50px;
}

.mainGameType a {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 113px;
  height: 34px;
  border: 0;
  border-radius: 50px;

  color: #ffffff;
  font: italic normal bold 14px "Roboto";
}

.mainGameType .mainGameType.lotofacil {
  border: 2px solid #7F3992;
  color: #7F3992;
}

.mainGameType .mainGameType.lotofacil#active {
  color: #ffffff;
  background-color: #7F3992;
}

.mainGameType .mainGameType.lotofacil:hover {
  color: #ffffff;
  background-color: #7F3992;
}

.mainGameType .mainGameType.megasena {
  border: 2px solid #01AC66;
  color: #01AC66;
}

.mainGameType .mainGameType.megasena#active {
  color: #ffffff;
  background-color: #01AC66;
}

.mainGameType .mainGameType.megasena:hover {
  color: #ffffff;
  background-color: #01AC66;
}

.mainGameType .mainGameType.quina {
  border: 2px solid #F79C31;
  color: #F79C31;
}

.mainGameType .mainGameType.quina#active {
  color: #ffffff;
  background-color: #F79C31;
}

.mainGameType .mainGameType.quina:hover {
  color: #ffffff;
  background-color: #F79C31;
}

.mainGameRule strong {
  color: #868686;
  font: italic normal bold 17px "Roboto";
}

.mainGameRule p {
  color: #868686;
  font: italic normal normal 17px "Roboto";
}

.mainGameNumberAll {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  margin: 22px 0px;
  gap: 10px;
}

.mainGameNumber {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50px;
  height: 50px;
  border-radius: 50px;

  color: #FFFFFF;
  font: normal normal bold 20px "Roboto";

  background-color: #ADC0C4;
}

.mainGameNumber:hover {
  background-color: #9faeb1;
}

.mainGameButtonDiverse {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  gap: 30px;
}

.mainGameButtonDiv {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 30px;
}

.mainGameButton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: auto;
  min-width: 100px;
  height: 52px;
  padding: 0px 20px;
  border: 1px solid #27C383;
  border-radius: 10px;
  gap: 10px;

  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-variant: bold;
  font-size: 16px;
  font-family: "Roboto";

  fill: #FFFFFF;
  background-color: #27C383;
}

.mainGameButton:hover {
  background-color: #21AC72;
}

.mainGameButton.transparent {
  color: #27C383;
  font-style: normal;
  font-weight: normal;
  font-variant: medium;
  font-size: 16px;
  font-family: "Roboto";

  background-color: transparent;
}

.mainGameButton.transparent:hover {
  color: #FFFFFF;
  background-color: #27C383;
}

/* MAIN CART ----------------------------------- */

.mainCart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  width: 30%;
  min-width: 275px;
  height: 50vh;
  min-height: 475px;
  max-height: 600px;
  margin-top: 30px;
  border: 1px solid #E2E2E2;
  border-radius: 10px;
  margin-right: 6%;

  background-color: #FFFFFF;
}

.mainCartDiv {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.mainCartTitle {
  display: flex;
  margin: 20px;

  color: #707070;
  font: italic normal bold 24px "Roboto";
}

.mainCartGameAll {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  margin: 0px 20px;
  gap: 20px;
}

.mainCartGame {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.mainCartGameTrash {
  font-size: 0px;
  fill: #888888;
  transition: filter(0.2s);
}

.mainCartGameTrash:hover {
  filter: brightness(0.7);
}

.mainCartGameBorder {
  width: 4px;
  min-width: 4px;
  margin-left: 2px;
  margin-right: 10px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;

  color: transparent;
  font-size: 0px;
}

.mainCartGameBorder.lotofacil {
  height: 86px;
  background-color: #7F3992;
}

.mainCartGameBorder.megasena {
  height: 60px;
  background-color: #01AC66;
}

.mainCartGameBorder.quina {
  height: 60px;
  background-color: #F79C31;
}

.mainCartGameValue {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  gap: 8px;
}

.mainCartGameNumber {
  margin-bottom: 5px;

  color: #868686;
  font: italic normal bold 15px "Roboto";
}

.mainCartGameAmount {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}

.mainCartGameAmount strong {
  width: 100px;
  font: italic normal bold 16px "Roboto";
}

.mainCartGameAmount p {
  color: #868686;
  font: normal normal normal 16px "Roboto";
}

.mainCartTotal {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  margin: 20px;
  gap: 10px;
}

.mainCartTotal strong {
  color: #707070;
  font: italic normal bold 24px "Roboto";
}

.mainCartTotal p {
  color: #707070;
  font: normal normal 300 24px "Roboto";
}

.mainCartSave {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 10vh;
  min-height: 50px;
  max-height: 70px;
  border-top: 1px solid #E2E2E2;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  gap: 10px;

  color: #27C383;
  font: italic normal bold 35px "Roboto";

  background: #F4F4F4;
  fill: #27C383;
}

.mainCartSave:hover {
  color: #F4F4F4;
  background: #27C383;
  fill: #F4F4F4;
  border-top: 1px solid #27C383;
}

/* FOOTER -------------------------------------- */

footer {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 10vh;
  max-height: 70px;
  margin-top: 20px;
  border-top: 2px solid #EBEBEB;

  color: #707070;
  font: normal normal normal 10px "Roboto";
}
